html, body {
    width: 100vw;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

/*
Idea taken from:
https://stackoverflow.com/a/62572622
https://stackoverflow.com/a/49278385
http://dmrutherford.github.io/echo/scrollbars-and-page-width
 */